{% extends 'base/base.html' %}

{% block base_content %}
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include 'base/navbar.html' %}
            <!-- Begin Page Content -->
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
            <!-- /.container-fluid -->
            {% include 'base/footer.html' %}
        </div>
        <!-- End Main Content -->
    </div>
{% endblock %}